<!DOCTYPE html>
html(lang="zh-cmn-Hans-CN")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title
    style.
      .login {
        display: block;
        margin: 100px auto;
      }
      .qrcode {
        display: block;
        width: 80%;
        margin: 0 auto;
      }
  body
    button.login 登录微信
    img.qrcode(src="" style="display: block; width: ")

    script(src="./js/index.js")
